*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

/*TAGS HTML*/
body{
  background: url("http://i.stack.imgur.com/jGlzr.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: white; 
  background-attachment: fixed;
}
table{
  margin-left: auto;
  margin-right: auto;
}
td{
  background-color: white;
  /*border: 3px solid black;*/
  color: black;
  border-radius: 4px;
  margin: 3px 3px;
}
td > p{
  display: inline-table;
  font-size: 120;
  text-align: center;
}
p{
  font-size: 16px;
  text-align: left;
  text-indent: 40px;
}
p:first-letter{
  font-family: Helvetica;
  font-size: 30px;
}
h1{
  letter-spacing: 14px;
  padding: 20px;
  width: 400px;
  margin: 20px 40%;
  text-align: center;
  border: 3px double rgba(255, 255, 255, 0.7);
  /*border-radius: 5px;*/
  border-radius: 1% 100%;
  
  /*  Shadow interna a div  */
  /*inset = interno*/
  /*atributo 1 = localização horizontal*/
  /*atributo 2 = localização vertical*/
  /*atributo 3 = tamanho do desfoque(quanto maior, mais transparente fica)*/
  /*atributo 4 = tamanho da sombra(não necessariamente embassada)*/
  /*atributo 5 = cor*/
  

  /*Shadow externa a div*/
  /*box-shadow: 0px 0px 3px 1px white;*/
}
h2{
  text-align: center;
  background-color: #717171;
  border-radius: 5px;
  border: 3px solid white;
  margin: 3%;
  text-shadow: 0 0 2px black;
}
h3{
  text-align: center;
  margin-bottom: 10px;
}
div{
  border: 5px double white;
  border-radius: 5px;
  padding: 10px;
  float: left;
  position: relative;
}
ul, ol, li{
  margin-left: 40px;
}

/*li:before{
  content: "Diga: ";
  }*/
  cite:before{
    content: open-quote;
  }
  cite:after{
    content: close-quote;
  }


  /*ID's*/
  #topo{
    /*margin: -20px;*/
    width: 100%;
    border-radius: 0;
    border: 0;
    padding: 0;
  }
  #topo-left{
    float: left;
    width: 80%;
    padding-top: 50px; 
    border: 0;
    border-radius: 0;
    background-color: #4d4d4d;
  }
  #topo-right{
    border: 0; 
    border-left: 1px solid white; 
    border-radius: 0; 
    background-color: #4d4d4d; 
    height: 192px; 
    width: 20%;
  }
  #logo{
    float: left;
    border-radius: 0%;
    width: 120px;
    height: 120px;
    margin: 10% 32%;
  }

  #nav{
    /*position: fixed;*/
    margin: 0;
    width: 100%;
    border-radius: 0;
    border: 0;
    padding: 0;
    z-index: 999;
  }
  #div-links{
    /*position: fixed;*/
    width: 80%;
    text-align: center;
    background-color: #717171;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid white; 
    /*border-radius: 40px;*/
    /*border-top-left-radius: 0px;*/
    /*border-top-right-radius: 0px;*/
    /*top: 0px;*/
    /*left: 0px;*/
  }
  ul#links li{
    display: inline;
  }
  ul#links li a{
    padding: 5px;
    padding-top: 10px;
    text-decoration: none;
    text-align: left;
    color: white;
    font-size: 20px;
    border-radius: 0 0 5px 5px; 
  }
  ul#links li a:visited{
    color: white;
  }
  ul#links li a:hover{
    background-color: orange; 
    /*rgb(200,164,132)*/
  }
  #nav-right{
    border: 0; 
    border-left: 1px solid white; 
    border-bottom: 1px solid white; 
    border-radius: 0; 
    background-color: #717171; 
    height: 45px; 
    width: 20%;
  }

  #dPai{
    margin-top: 30px;
    margin-right: 0px;
    width: 100%;
    padding: 0;
    border: 0px solid black;
  }

  /* Seleciona todos os articles da div pai(contanto que as articles estejam no primeiro nivel) */
/*
#dPai > article{
  color: orange;
}
*/

#d1, #d2, #d3{
  width: 28%;
  height: 550px;
  margin-left: 4%;
}
#div-list, #imagem{
  width: 40%;
  border: 0px;
  margin: 3% 3%;
  padding-top: 60px; 
}
ul#example-lists li:before{
  content: "Diga: ";
}
#tab, #form{
  width: 100%;
  border: 0;
  border-radius: 0;
  padding-top: 60px;
  padding-bottom: 190px;
  float: left;
}
#tab{
  background: linear-gradient(to bottom,  rgba(200,164,132, 0.1) 1%, rgba(0, 0, 0, 0.5) 20%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: -moz-linear-gradient(top,  rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.6) 10%, rgba(0, 0, 0, 0.6) 90%, rgba(0, 0, 0, 0.0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(200,164,132, 0.1) 1%, rgba(0, 0, 0, 0.5) 20%); /* Chrome10-25,Safari5.1-6 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8a484', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
#bt{
  width: 40px;
  /*border: 3px outset orange;*/
  border: 1px outset white;
  border-radius: 8px;
  cursor: pointer;
}
#social{
  width: 100%;
  height: 50px;
  text-align: center;
  word-spacing: 20px;
  background-color: white;
  border: 0;
  margin: 20px 0;
}
#socialimg{
  width: 30px;
  height: 30px;
}
#adverts{
  width: 100%;
  /*height: 2650px;*/
  height: 2400px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 0 solid rgba(0, 0, 0, 1);
  border-left: 1px solid rgba(255, 255, 255, 1);
  border-radius: 0;
  /*   box-shadow: inset 0 0 30px -1px #c8a484; */
  /*Serve para a tag e tudo aquilo que esiver dentro dela*/
  /* opacity: 0.5;
  filter: alpha(opacity=50);*/
  /*Usando float right, essa div iria pra a direita da div pai, 
  porém seria necessário delimitar uma margem */
  /*float: right;*/
}
#imgAdverts{
  margin: 0 auto;
  width: 250px;
  height: 300px;
}
#rodape{
  background-color: #262626;
  color: #666666;
  border: 0;
  border-radius: 0;
  margin: 0 0; 
  width: 100%;
  height: 150px;
  z-index: 1;
  float: left;
}


/*CLASS*/
/*adicionar a um span*/
.k{
  text-transform: capitalize;
}
.header{
  width: 100%;
}
.section{
  width: 80%;
  float: left;
}
.aside{
  width: 20%;
  float: right;
}
.footer{
  width: 100%;
/*  position: absolute;
  bottom: 0;*/
}

/*Macete para voltar os "floats" e assim */
/*fazer as tags engoblarem tudo o que há dentro delas*/
.fix:after{
  content: "";
  display: block;
  clear: both;
}

/*Macete para alterar APENAS a segunda tag de texto das divs filhas*/
/*IMPORTANTE: Cada tag de texto ocupa uma posição, porém apenas as tags*/
/*especificadas serão alteradas.*/
/*
#dPai p:nth-child(2){
  font-family: Helvetica;
  font-size: 25px;
  color: purple;
  }
  */
  .big-form{
    height: 40px;
  }
