.header{
  width: 100%;
}
.header div{
  float: left;
}

h1{
  letter-spacing: 14px;
  padding: 20px;
  width: 400px;
  margin: 20px 40%;
  text-align: center;
  border: 3px double rgba(255, 255, 255, 0.7);
  border-radius: 1% 100%;
  font-style: italic;
  
  /*  Shadow interna a div  */
  /*inset = interno*/
  /*atributo 1 = localização horizontal*/
  /*atributo 2 = localização vertical*/
  /*atributo 3 = tamanho do desfoque(quanto maior, mais transparente fica)*/
  /*atributo 4 = tamanho da sombra(não necessariamente embassada)*/
  /*atributo 5 = cor*/
  
  /*Shadow externa a div*/
  /*box-shadow: 0px 0px 3px 1px white;*/
}


/*ID's*/
#topo{
  /*margin: -20px;*/
  width: 100%;
  padding: 0;
}
#topo-left{
  float: left;
  width: 80%;
  height: 208px; 
  padding-top: 50px; 
  background-color: #4d4d4d;
}
#topo-right{
  border-left: 1px solid white; 
  background-color: #4d4d4d; 
  height: 208px; 
  width: 20%;
}
#logo{
  float: left;
  width: 120px;
  height: 120px;
  margin: 10% 32%;
}

#nav{
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 999;
}
.nav-fixed{
  position: fixed;
}
#div-links{
  width: 80%;
  text-align: center;
  background-color: #717171;
  border-bottom: 1px solid white; 
  /*border-radius: 40px;*/
  /*border-top-left-radius: 0px;*/
  /*border-top-right-radius: 0px;*/
  /*top: 0px;*/
  /*left: 0px;*/
}
ul#links li{
  display: inline;
}
ul#links li a{
  padding: 5px;
  padding-top: 10px;
  text-decoration: none;
  text-align: left;
  color: white;
  font-size: 20px;
  border-radius: 0 0 5px 5px;
  transition-duration: 1s; 
}
ul#links li a:visited{
  color: white;
}
ul#links li a:hover{
  background-color: orange;
  transition-duration: 0.8s;
}
#nav-right{
  width: 20%;
  height: 52px;
  border-left: 1px solid white; 
  border-bottom: 1px solid white; 
  background-color: #717171;  
}
.nav-right-fixed{
  position: fixed;
  left: 80%;
}