.section{
  width: 80%;
  float: left;
}
.section div{
  float: left;
}


/*///////////////////////////////////////////////////*/
#dPai{
  margin-top: 30px;
  margin-right: 0px;
  width: 100%;
  padding: 0;
  /*border: 0px solid black;*/
}
h2{
  text-align: center;
  background-color: #717171;
  border-radius: 5px;
  border: 3px solid white;
  margin: 3% 0;
  text-shadow: 0 0 2px black;
}
#divs abbr div:nth-child(1){
  width: 28%;
  margin: 80px 0 150px 4%;
  border: 5px double white;
  border-radius: 5px;
}
#divs p{
  line-height: 22px;
}
p{
  font-size: 16px;
  text-align: left;
  text-indent: 40px;
}
p:first-letter{
  font-family: Helvetica;
  font-size: 30px;
}
cite:before{
  content: open-quote;
}
cite:after{
  content: close-quote;
}
/*adicionar a um span*/
.caps{
  text-transform: capitalize;
}


/*///////////////////////////////////////////////////*/
#list-image{
  width: 40%;
  margin: 3% 3%;
  padding-top: 60px; 
}
ul, ol, li{
  margin-left: 40px;
}
ul#example-lists li:before{
  content: "Diga: ";
}


/*///////////////////////////////////////////////////*/
#tab, #form{
  width: 100%;
  padding-top: 50px;
  padding-bottom: 190px;
  float: left;
}
#tab{
   /*W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: linear-gradient(to bottom,  rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.5) 10%, rgba(0, 0, 0, 0.5) 90%, rgba(0, 0, 0, 0.0) 100%);
  /* FF3.6-15 */
  background: -moz-linear-gradient(top,  rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.5) 10%, rgba(0, 0, 0, 0.5) 90%, rgba(0, 0, 0, 0.0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(top,  rgba(0, 0, 0, 0.0) 1%, rgba(0, 0, 0, 0.5) 10%, rgba(0, 0, 0, 0.5) 90%, rgba(0, 0, 0, 0.0) 100%); 
  /*IE6-9*/
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8a484', endColorstr='#000000',GradientType=0 );
}
table{
  margin-left: auto;
  margin-right: auto;
}
td{
  background-color: white;
  color: black;
  border-radius: 4px;
  margin: 3px 3px;
}
td > p{
  display: inline-table;
  font-size: 100px;
  text-align: center;
}
th{
  border-top: 3px solid white;
  border-left: 3px solid white;
  border-right: 3px solid white;
  border-radius: 5px 5px 0 0;
}


/*///////////////////////////////////////////////////*/
.formulario{
  text-align: center;
}
.formulario *{
  transition-duration: 1s;
  font-family: 'Titillium Web';
}
.lb-style{
  background: #696969;
  color: white;
  border-radius: 5px 0 0 5px;
  font-size: 34px;
  padding: 0 10px;
}
#lb-login{
  padding-right: 77px;
}
.input-style{
  border: 0;
  border-left: 1px solid #333333;
  border-radius: 0 5px 5px 0;
  box-shadow: 3px 0 10px 1px #333333;
  background: #808080;
  margin-left: -5px;
  color: #333333;
  font-size: 34px;
  width: 36%;
}
.input-style:focus{
  outline: none;
  border: 0;
  border-left: 1px solid white;
  box-shadow: 3px 0 10px 1px white;
  background: white;
}
.formulario textarea{
  border: 1px solid #808080;
  border-radius: 5px 5px 0 5px;
  box-shadow: 0 0 10px 1px #333333;
  background: #808080;
  color: #333333;
  font-size: 20px;
}
.formulario textarea:focus{
  outline: none;
  border: 1px solid white;
  box-shadow: 0 0 10px 1px white;
  background: white;
}
.bt-style{
  background: #696969;
  font-size: 30px;
  width: 60px;
  border: 0px;
  border-radius: 0 0 5px 5px;
  margin-top:-8px;
  margin-left: 44.3%;
}
.bt-style:hover{
  background: white;
  box-shadow: 0 0 10px 1px white;
  cursor: pointer;
}

#select-style{
  color: white;
  border: 0px solid #333333;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px black;
  font-size: 30px;
  width: 25%;
  padding: 2px 10px;
  background: #696969 url("http://i62.tinypic.com/15xvbd5.png") no-repeat 270px;
  -webkit-appearance: none;
  -moz-appearance: none;
}


/*///////////////////////////////////////////////////*/
#cubo>div{
  width: 100%;
  height: 800px;
}
#cubo div>div{
  background: #797979;
  border: 2px solid white;
  /*transform: translate(400px, 150px);*/
}
#cubo1{
  transform: translate(98px, 155px) rotate(16deg) skew(20deg, 9deg);
  width: 100px;
  height: 100px;
}
#cubo2{
  transform: translate(44px, 74px) rotate(135deg) skew(20deg, 18deg);
  width: 100px;
  height: 100px;
}
#cubo3{
  transform: translate(-2px, 151px) rotate(76deg) skew(13deg, 10deg);
  width: 100px;
  height: 100px;
}
#cubo4{
  transform: translate(340px, 150px) rotate(15deg) skew(20deg, 10deg);
}